/* Overall */
* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

body {
    
  --main: #283149;
  --text: #e9f4f8;
  --hover: #eec4c4;
  --nav: #404b69; 
  --label: #f1ca89;

  background-color: var(--main);
}

/* Clickable
----------------------  */
a{
  text-decoration: none;
}

a:visited {
  color: text;
}

a:hover, button:hover {
  color: var(--hover);
}

button {
  border: none;
  background: none;
  outline: none;
}

li{
  list-style-type: none;
}


/* Grid
----------------------  */
.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

/* Header
----------------------  */
.header-top {
  grid-area: header;
  z-index: 1
}
.topbar{
  background-color: var(--nav); 
  box-shadow: 0.5px 0.5px 3px black;
}

.topbar ul{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.topbar li {
  padding: 0.8em;
}

#title {
  font-size: 1.3em;
  font-weight:500
}

/* Content
----------------------  */
.content {
  grid-area: content;
  display: flex;
  justify-content: center;
}

.card-container {
  width: 1000px;
  height: 95vh;
  overflow: hidden;
  display: flex;
  padding: 3rem;
  flex-direction: column;
}
.card {
  min-width: 90%;
  height: 60px;
  border-radius: 2px;
  background-color: #e6f2f7;
  box-shadow: 1px 1px 2em rgb(0, 0, 0);
  display: flex;
  padding: 1.5em;
  transition: 0.2s;
}

.card:not(:first-child) {
  margin-top: 35px
}


/* Card Header
----------------------  */
.card-header{
  display:flex;
  align-items:center
}

.card-title{
  font-size: 2em;
  font-weight: 600;
  background-color: none;
  color: black;
}

/* Card Price
----------------------  */
.price,.period{
  color:black;
  font-weight:600
}

.price{
  font-size:1.5em;
}
.period{
  font-size:1em;
}

.price-container{
  margin-left:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

/* .card:hover {
  transform: translateY(-0.5rem);
} */

.card:hover~.card{
  transform: translateY(50px);
}


/* Footer
----------------------  */
footer {
  grid-area: footer;
  background-color:  var(--nav);
  box-shadow: 0.5px 0.5px 3px black;
  z-index: 1
}

footer > ul{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items:center
}

footer li {
  padding-inline: 0.8em;
}

.links{
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  padding: 0.8em
}

#author {
  font-size: 0.8em;
  color: var(--label);
}

/* Modal popups
----------------------  */

  .modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
  }
  .close-btn:hover {
    color: rgb(44, 44, 44);
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }