/* Stylesheet for Subscriberfier, this includes all the styles and designs 
that are used across the web-application. */


/* Overall
------------------------------------------------------------------  */
* {
  margin: 0;
  padding: 0;
  color: var(--text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

body {
  --main: #283149;
  --text: #e9f4f8;
  --hover: #eec4c4;
  --nav: #404b69; 
  --label: #f1ca89;
  --darktext: rgb(27, 27, 27);
  --button: #286983;
  --buttonhover: #1b485a;
  --delhover: #a02b1e;
  --addhover: rgb(56, 141, 56);
 
  background-color: var(--main);
  font-size: 16px;
}

.uid{
  display:none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

/* Images
------------------------------------------------------------------  */
img{
  color:rgb(218, 218, 218)
}

/* Clickables
------------------------------------------------------------------  */

a{
  text-decoration: none;
}

a:visited { 
  color: var(--text);
}

a:hover, button:hover {
  color: var(--hover); 
}

button {
  border: none;
  background: none;
  outline: none;
}

li{
  list-style-type: none;
}


/* Grid
------------------------------------------------------------------  */
.container {
  display: grid;
  min-height:100vh;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'header header header'
    'content content content'
    'footer footer footer';
}

/* Header
------------------------------------------------------------------  */

.header-top {
  grid-area: header; 
  z-index: 1 
}

.topbar{
  background-color: var(--nav); 
  box-shadow: 0.5px 0.5px 3px black;
}

.topbar ul{ 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.topbar li {
  padding: 0.8em;
}

#title {
  /* Changes font-size and weight of the ID title. */
  font-size: 1.3em;
  font-weight:500
}

/* Content
------------------------------------------------------------------  */

.content {
  grid-area: content; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.middle-container{
   
  display:flex; 
  flex-direction: column;
  align-items: flex-end;
}

.card-container {
  width: 1000px;
  height: 75vh;
  overflow-y: scroll;
  display: flex;
  margin: 1rem 3rem 1rem 3rem;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 3em;
}

/* Cards that are entered in the card-container. */
.card {
  min-width: 90%;
  height: 60px;
  border-radius: 2px;
  background-color: #f1fbff;
  box-shadow: 1px 1px 2em rgb(0, 0, 0);
  display: flex;
  padding: 1.5em;
  transition: 0.2s;
  position:relative;
}

.card:not(:first-child) {
  margin-top: 35px
}

.card:hover~.card{
  transform: translateY(65px);
}

.card-header{
  display:flex; 
  align-items:center;
  padding-left: 1em;
}

.card-title{
  font-size: 2em;
  font-weight: 600;
  background-color: none;
  color: var(--darktext)
}

 /* Container for DATE */
.date-container{
  margin-left: auto;
  display:flex;
  align-items:center;
  position:absolute;
  left: 50%;
  top:40px;
}

.date{
  color:var(--darktext);
  display:flex;
  font-size: 1.5em;
  font-weight: 600;
}

/* Container for PRICE */
.price-container{
  margin-left:auto;
  display:flex;
  flex-direction: column;
  align-items:end;
  justify-content:center;
}

.price,.period{

  color:var(--darktext);
  font-weight:600;
  text-align:right;
}

.price{
  font-size:1.5em;
}
.period{
  font-size:1em;
}

/* Card Buttons (Right side of Card)
--------------------------------------------  */

.card-button-container{
  display:flex; 
  align-items:center;
  border-left: 2px solid lightgrey;
  height: 60px;
  margin-left: 1em;
}

.edit-button, .delete-button{
  font-size: 2em;
  color: grey;
}

.edit-button{
  font-size: 1.5em;
  padding-inline:0.8em;
}

.edit-button:hover, .delete-button:hover{
  color:black
}


/* Top Buttons Container
------------------------------------------------------------------  */

.top-button-container{
  width:1000px;
  display:flex; 
  justify-content: flex-end;
  padding-right: 6em;
  padding-top: 5px;
}

.sort-button{
  background-color: var(--button);
  color: white;
  padding: 8px 18px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:1.1em;
}

.sort-title{
  font-size: 1.1em;
  padding-right: 2em;
  align-self: center;
  padding: 10px 20px;
}

/* Total Cost Container
----------------------  */

.total-cost-container{
  margin-right:auto;
  align-self: center;
}

.total-cost-label{
  font-size: 1.1em;
  padding-right: 1em;
}

#total-cost{
  font-size: 1.1em;
}

/* Bottom Buttons Container
------------------------------------------------------------------  */

.bottom-button-container{
  padding-bottom: 1em;
  width:1000px;
  display:flex; 
  justify-content: flex-end;
  padding-right: 6em;
}

#delete-all-button {
  width: 49%;
  background-color: var(--button);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:1.1em;
  margin-right:auto;
}

#delete-all-button:hover{
  background-color: var(--delhover)
}

/* Styles for the new-subscription button. */
#new-sub-button {
  width: 49%;
  background-color: var(--button);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:1.1em;
}

#new-sub-button:hover{
  background-color: var(--addhover)
}


/* Footer
------------------------------------------------------------------  */

footer {
  grid-area: footer;
  background-color:  var(--nav);
  box-shadow: 0.5px 0.5px 3px black;
  z-index: 1
}

footer > ul{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items:center
}

footer li {
  padding-inline: 0.8em;
}

/* Styles for the links. */ 
.links{
  display: flex; 
  flex-wrap: wrap;
  font-size: 0.9em;
  padding: 0.8em;
  margin-left: 8em;
}

.links a{
  font-size:1.2em
}

#author {
  font-size: 0.9em;
  color: var(--label);
}

/* Modal Popups
------------------------------------------------------------------  */

.modal {
  display: none;
  position: fixed; 
  padding-top: 300px;
  left: 0; 
  top: 0;
  width: 100%;
  height: 100%; 
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  position: relative; 
  background-color: white;
  padding: 20px; 
  margin: auto; 
  width: 450px;  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header{
  display:flex;
  align-items: center;
  justify-content: space-between
}
.modal-header h2{
  color:var(--darktext);
  font-size: 1.5em;
  font-weight: 600;
  margin:auto;
}

form{
  padding: 1em;
}

form h3{
  font-size: 1em;
  font-weight: 500;
  padding-top: 1em;
}

form label{
  color: var(--darktext);
}

::placeholder, form h3{
  color:var(--darktext)
}

/* Styles for the input fields. */ 

input[type=date],input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color:var(--darktext)
}

input[type=radio]{
  margin-left:10px;
  margin-right:10px;
}

#submit-button,#save-button {
  width: 100%;
  background-color: var(--button);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit-button:hover,#save-button:hover {
  background-color: var(--buttonhover)
}

#submit-button:active,#save-button:active {
  color:var(--label)
}

/* Styles for the radio container. */ 
.radio-container{
  display:flex; 
  flex-direction:column
}
.radio-container label{
  font-size: 1em;
  font-weight: 500;
  padding-top:0.5em;
}

.bill-row{
  display:flex; 
  align-items:center
}

.bill-row label{
  font-size:1.2em;
  min-width:150px;
  padding-left:5px;
}

.close-btn {
  float: right; 
  color: gray; 
  font-size: 24px;  
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: rgb(44, 44, 44);
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Responsiveness, Mid-Resolution
------------------------------------------------------------------  */


@media screen and (max-width: 1100px){
  body{
    font-size:15px;
  }
  .card-container {
    width: 700px;
    margin: 1rem 0 1rem 0;
  }
  .card:hover~.card{
    transform: translateY(25px);
  }

  .card:not(:first-child){
    margin-top: 15px;
  }

  .top-button-container{
    width: 700px;
    padding-right: 3em
  }
  #total-cost{
    font-size:1.5em;
    font-weight: 600;
  }
  .bottom-button-container{
    width: 700px;
    padding-right: 3em
  }
  .modal{
    padding-top: 200px;
  }
  footer > ul{
    flex-direction: column
  }
  .links{
    margin: auto;
  }


  #author{
    font-size: 1.3em
  }
}


/* Responsiveness, Tablet
------------------------------------------------------------------  */

@media screen and (max-width: 800px){
  body{
    font-size:13px;
  }
  .middle-container{
    align-items: center
  }
  .card-container {
    width: 100vw;
    margin: 1em 0 0 0;
    padding:0;
  }
  .date-container{
    left: 39%;
  }
  .top-button-container{
    width: 100%;
    padding-right: 0;
    font-size: 1.2em;
  }

  .total-cost-container{
    margin-left: 1em;
  }
  

  .bottom-button-container{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-top: 1em;
    font-size: 1.2em;
  }
  #delete-all-button{
    width: 90%;
    margin-right: 0;
  }

  #new-sub-button{
    width: 90%
  }

  .card {
    min-width: 90%;
    height: 60px;
    border-radius: 0px;
    background-color: #f1fbff;
    box-shadow: 0px 0px 0em rgb(0, 0, 0);
    display: flex;
    padding: 1.3em;
    transition: 0.2s;
    position:relative;
  }
  .card:not(:first-child){
    margin-top: 1px
  }
  .card:hover~.card{
    transform: translateY(0px);
  }

  .links a{
    font-size:1.5em;
  }
}

/* Responsiveness, Mobile (Phone)
------------------------------------------------------------------  */

@media screen and (max-width: 650px){
  .card{
    flex-wrap:wrap;
  }

  .card-header{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .card-title{
    font-size: 1.7em;
  }

  .date-container{
    position: static;
    font-size: 0.8em;
    margin-left: 0;
  }

  .date{
    font-weight: 400;
  }
  .top-button-container{
    flex-direction: column;
    align-items: center;
  }
  .total-cost-container{
    display:flex;
    align-items: center;
    width: 100%;
    margin-left: 1em;
  }
  #total-cost{
    margin-left:auto;
    margin-right: 1.5em;
  }
  .sort-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    width: 100%;
    margin-right: 5px;
  }
  .sort-title{
    padding-inline: 1em;
    margin-right:auto;
  }
  .sort-button{
    padding: 0.8em 0.6em ;
    width: 23%
  }
}