<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/app.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="icon" href="data:,">
    <title>Subscriberfier</title>
</head>

<body>

    <body>
        <div class="container">
            <!-- Top -->
            <header class="header-top">
                <nav class="topbar">
                    <ul>
                        <li></li>
                        <li>
                            <h1 id="title">Subscriberfier</h1>
                        </li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
            </header>

            <!-- Middle -->
            <div class="content">
                <div class="middle-container">
                    <div class="top-button-container">
                        <div class="total-cost-container">
                            <span class="total-cost-label">Total Cost of Subscriptions:</span>
                            <span id="total-cost">0.00</span>
                        </div>
                        <span class="sort-title">Sort:</span>
                        <button class="sort-button" id="sort-name-button" type="button">Name</button>
                        <button class="sort-button" id="sort-date-button" type="button">Date</button>    
                        <button class="sort-button" id="sort-cost-button" type="button">Cost</button>       
                    
                    </div>
                    <div class="card-container">
                        <!-- Cards Go Here -->
                    </div>

                    <div class="button-container">
                        <button id="delete-all-button">Delete All Subscriptions</button>
                        <button id="new-sub-button">Add a New Subscription</button>
                    </div>
                    
                </div>

            </div>


            <!-- Bottom -->
            <footer>
                <ul>
                    <li class="blank"></li>
                    <li>
                        <ul class="links">
                            <li><a href="https://github.com/sunsled/2911" target="_blank">GitHub</a></li>
                            <li><a href="https://trello.com/b/3HkCdAbE/subscriberfier" target="_blank">Trello</a></li>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </li>
                    <li id="author">
                        Created by DevOps13
                    </li>
                </ul>
            </footer>
        </div>

        <!-- New Sub Popup -->
        <div class="modal" id="new-sub-modal">

            <div class="modal-content">
                <header class="modal-header">
                    <h2>New Subscription</h2>
                    <span class="close-btn">&times;</span>
                </header>
                <form id="new-sub-form" action="">
                    <input type="text" id="new-sub-name" placeholder="Subscription Name" />
                    <input type="text" id="new-sub-cost" placeholder="Cost" />
                    <div class="radio-container">
                        <label for="new-sub-monthly">
                            <input type="radio" id="new-sub-monthly" name="period" value="monthly" checked="checked">
                            Monthly
                        </label>
                        <label for="new-sub-yearly">
                            <input type="radio" id="new-sub-yearly" name="period" value="yearly">
                            Yearly
                        </label>
                    </div>

                    <div class="bill-row">
                        <label for="new-sub-date">Choose Bill Date: </label>
                        <input type="date" id="new-sub-date" name="date">
                    </div>
                    <button id="submit-button" type="button">Add New Subscription</button>
                </form>
            </div>
        </div>
        <div class="modal" id="edit-modal">

            <div class="modal-content">
                <header class="modal-header">
                    <h2>Edit Subscription</h2>
                    <span class="close-btn">&times;</span>
                </header>
                <form id="new-sub-form" action="">
                    <input type="text" id="edit-name" placeholder="Subscription Name" />
                    <input type="text" id="edit-cost" placeholder="Cost" />
                    <div class="radio-container">
                        <label for="edit-monthly">
                            <input type="radio" id="edit-monthly" name="period" value="monthly" checked="checked">
                            Monthly
                        </label>
                        <label for="edit-yearly">
                            <input type="radio" id="edit-yearly" name="period" value="yearly">
                            Yearly
                        </label>
                    </div>

                    <div class="bill-row">
                        <label for="edit-date">Choose Bill Date: </label>
                        <input type="date" id="edit-date" name="date">
                    </div>
                    <button id="save-button" type="button">Save Changes</button>
                </form>
            </div>
        </div>
    </body>

</html>