<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/app.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>SubscriberFire</title>
</head>

<body>

    <body>
        <div class="container">
            <!-- Top -->
            <header class="header-top">
                <nav class="topbar">
                    <ul>
                        <li></li>
                        <li><h1 id="title">SubscriberFire</h1></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
            </header>
    
            <!-- Middle -->
            <div class="content">
                <div class="middle-container">
                    <div class="card-container">
                        <div class="card"> 
                            <header class="card-header">
                                <div id="uid"></div>
                                <img width="100" src="" alt="sub pic here">
                                <h2 class="card-title">Netflix</h2>
                            </header>
                            <div class="date-container">
                                <span class="date">Nov-11-2021</span>
                            </div>
                            <div class="price-container">
                                <span class="price">19.99</span>
                                <span class="period">/month</span>
                            </div>
                            <div class="card-button-container">
                                <button class="edit-button">edit</button>
                                <button class="delete-button">&times;</button>
                            </div>
                        </div>
    
                    </div>
                    <div class="button-container">
                        <button id="new-sub-button">Add a New Subscription</button>
                    </div>
                </div>

            </div>
            
    
            <!-- Bottom -->
            <footer>
                <ul>
                    <li class="blank"></li>
                    <li>
                        <ul class="links">
                            <li><a href="https://github.com/sunsled/2911" target="_blank">GitHub</a></li>
                            <li><a href="https://trello.com/b/3HkCdAbE/subscriberfier" target="_blank">Trello</a></li>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </li>
                    <li id="author">
                        Created by DevOps13
                    </li>
                </ul>
            </footer>
        </div>

        <!-- New Sub Popup -->
        <div class="modal" id="new-sub-modal">
            
            <div class="modal-content">
                <header class="modal-header">
                    <h2>New Subscription</h2>
                    <span class="close-btn">&times;</span>
                </header>
                <form id="new-sub-form" action="" >
                    <input type="text" id="new-sub-name" placeholder="Subscription Name" />
                    <input type="text" id="new-sub-cost" placeholder="Cost" />
                    <div class="radio-container">  
                        <label for="new-sub-monthly">
                            <input type="radio" id="new-sub-monthly" name="period" value="monthly" checked="checked">
                            Monthly
                        </label>
                        <label for="new-sub-yearly">                        
                            <input type="radio" id="new-sub-yearly" name="period" value="yearly">
                            Yearly
                        </label>  
                    </div> 
                    
                    <div class="bill-row">
                        <label for="new-sub-date">Choose Bill Date: </label>
                        <input type="date" id="new-sub-date" name="date">
                    </div>
                    <button id="submit-button">Add New Subscription</button>
                </form>
            </div>
        </div>

    </body>

</html>