<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/app.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>SubscriberFire</title>
</head>

<body>

    <body>
        <div class="container">
            <!-- Top -->
            <header class="header-top">
                <nav class="topbar">
                    <ul>
                        <li></li>
                        <li><h1 id="title">SubscriberFire</h1></li>
                        <li><a href="#">Profile</a></li>
                    </ul>
                </nav>
            </header>
    
            <!-- Middle -->
            <div class="content">
                <div class="middle-container">
                    <div class="card-container">
                        <div class="card"> 
                            <header class="card-header">
                                <img width="100" src="" alt="sub pic here">
                                <h2 class="card-title">Netflix</h2>
                            </header>
                            <div class="date-container">
    
                            </div>
                            <div class="price-container">
                                <span class="price">19.99</span>
                                <span class="period">/month</span>
                            </div>
                            <div class="edit-container">
                                <button class="edit-button">edit</button>
                            </div>
                            <div class="delete-container">
                                <button class="delete-button">&times;</button>
                            </div>
                        </div>
    
                    </div>
                    <div class="button-container">
                        <button id="new-sub-button">Add a New Subscription</button>
                    </div>
                </div>

                <!-- <table>
                    <tr>
                        <th>Status(ID)</th>
                        <th>Subscription</th>
                        <th>Cost</th>
                        <th>Next Billed Date</th>
                        <th></th>
                    </tr>
                </table> -->
            </div>
            
    
            <!-- Bottom -->
            <footer>
                <ul>
                    <li class="blank"></li>
                    <li>
                        <ul class="links">
                            <li><a href="https://github.com/sunsled/2911" target="_blank">GitHub</a></li>
                            <li><a href="https://trello.com/b/3HkCdAbE/subscriberfier" target="_blank">Trello</a></li>
                        </ul>
                    </li>
                    <li id="author">
                        Created by DevOps13
                    </li>
                </ul>
            </footer>
            
        </div>


    </body>

</html>