<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    <script src="../static/addSub.js" defer></script>
</head>

<body>

    <body>
        <div class="grid-container">
            <div class="main">
                <h1> Add New Subscription</h1>
                <h1>Subscription Form</h1>
                <form action ="">
                    <input type="text" id="subscription-form" placeholder="Subscription Name" />
                    <input type="text" id="cost-form" placeholder="Cost" />
                    <input type="radio" id="monthly" name="occurence" value="monthly" checked="checked">
                    <label for="monthly">monthly</label><br>
                    <input type="radio" id="yearly" name="occurence" value="yearly">
                    <label for="yearly">yearly</label><br>         
                    
                    <p>Next Billed Date</p>
                    <input type="date" id="billedDate" name="date">
                    <input type="button" id="submit-button" value="Send" />
                </form>
            </div>
            <div class="side-bar">
                <li><a href="index.html" style="text-decoration: none; color: white;" id=subscriptions>Subscriptions</a>
                </li>
                <li><a href="new.html" style="text-decoration: none; color: white;" id=newSubscriptions> New
                        Subscripion</a></li>
                <li><a href="" style="text-decoration: none; color: white;" id=profile>Profile</a></li>
            </div>



            <script src="../static/app.js"></script>
    </body>

</html>